@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');

:root{
    --Pale_blue: hsl(225, 100%, 94%);
    --Bright_blue: hsl(245, 75%, 52%);
    --Very_pale_blue: hsl(225, 100%, 98%);
    --Desaturated_blue: hsl(224, 23%, 55%);
    --Dark_blue: hsl(223, 47%, 23%);
}
*{
    margin: 0;
    padding: 0%;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    background-image: url("./pattern-background-desktop.svg");
    width: 100%;
    height: 30vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    position: relative;
    background-color: var(--Pale_blue);

}
.main-page{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content{
    background-color: white;
    height: fit-content;
    width:fit-content;
    border-radius: 20px;
    
}
.upper-image{
    
    width: 450px;
    height: 200px;
    background-position: center;
    background-size: cover;
    background-image: url("./illustration-hero.svg");
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.order-summary{
    font-weight: bold;
    font-size: 1.7em;
    margin: 8% 0 3%;
}
.light-description{
    color: var(--Desaturated_blue);
}
.offer{
    background-color: var(--Very_pale_blue);
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10% 10%;
    padding: 4% 5%;
    border-radius: 10px;

}
.left-content{
    display: flex;
    column-gap: 20px;

}
.change a{
    color: var(--Bright_blue);
    font-weight: bold;
}
.payement-button{
    
    text-align: center;
}
.payement-button button{
    
    width: 80%;
    margin: auto;
    height: 100%;
    padding: 3%;
    font-weight: bold;
    color: white;
    font-size: 1.1em;
    background-color: var(--Bright_blue);
    border: none;
    border-radius: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.cancel-order{
    text-align: center;
    margin: 5% 0 9%;
    
}
.cancel-order a{
    text-decoration: none;
    color: var(--Desaturated_blue);
    font-weight: bold;
}
a,button{
    cursor: pointer;
}
.price{
    color: var(--Desaturated_blue);
}






